/* Global styles */

/* Color Palette */
:root {
  --color-primary: #737c9c; /* A muted, sophisticated primary accent color */
  --color-secondary: #A5ACAF; /* A soft, muted secondary accent color */
  --color-background: #1F1F1F; /* Main background color */
  --color-foreground: #E8E8E8; /* Main foreground color */
  --color-text: #CACCD1; /* Soft white for primary text, enhancing readability */
  --color-text-secondary: #A0A0A0; /* Secondary text color */
  --color-error: #E57373; /* Softer red for warnings or errors */
  --color-success: #81C784; /* Softer green for confirmations */
  --color-info: #64B5F6; /* Softer blue for information */
  
  --header-footer-height: 60px; /* Header and footer height */
  --content-spacing: 20px; /* Content spacing */
  --header-height: 60px; /* Header height */
  --footer-height: 60px; /* Footer height */
}

/* Typography */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif; /* A more modern font for elegance */
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  margin-top: 0;
  font-weight: 100; /* Normal weight for a sophisticated look */
  font-size: 1.5rem; /* Larger font size for headers */
}

p {
  color: var(--color-text-secondary);
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--content-spacing);
}

/* Button Styling */
button {
  background-color: var(--color-secondary); /* Muted color for buttons */
  color: var(--color-background);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px; /* Rounded corners for elegance */
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

button:hover {
  background-color: var(--color-primary); /* Change to primary on hover */
  color: var(--color-foreground);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

/* Adjustments for Mobile Responsiveness */
@media (max-width: 768px) {
  .app,
  header,
  footer {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; /* Smaller headers for mobile */
  }

  button {
    padding: 0.5rem 1rem; /* Smaller buttons for mobile */
  }
}










