/* Global styles */

/* Color Palette */
:root {
  --color-primary: #c800ff; /* Bright neon pink */
  --color-secondary: #00d2ff; /* Bright neon blue */
  --color-tertiary:#ff007a; /* Bright neon purple */
  --color-background: #1c1c2d; /* Dark background color */
  --color-foreground: #2c2c3d; /* Foreground color for card backgrounds and such */
  --color-text: #e1e1e2; /* Light grey for text for readability */
  --color-text-secondary: #a1738c; /* Secondary text color, muted pink/purple */
  --color-error: #E57373; /* Softer red for warnings or errors */
  --color-success: #81C784; /* Softer green for confirmations */
  --color-info: #64B5F6; /* Softer blue for information */
  --color-accent-glow: rgba(0, 174, 255, 0.7); /* Glow effect color */

  --header-footer-height: 60px; /* Header and footer height */
  --content-spacing: 20px; /* Content spacing */
  --header-height: 60px; /* Header height */
  --footer-height: 60px; /* Footer height */
}

/* Typography */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif; /* A more modern font for elegance */
  background-color: var(--color-background);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
  margin-top: 0;
  font-weight: 100; /* Normal weight for a sophisticated look */
  font-size: 1.5rem; /* Larger font size for headers */
}

p {
  color: var(--color-text-secondary);
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--content-spacing);
}

/* Button Styling */
button {
  background-color: var(--color-secondary); /* Neon blue for buttons */
  color: var(--color-background);
  border: 1px solid var(--color-primary); /* Neon pink border */
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--color-tertiary); /* Neon purple on hover */
  border-color: var(--color-tertiary);
  color: var(--color-foreground);
}

/* Adjustments for Mobile Responsiveness */
@media (max-width: 768px) {
  .app,
  header,
  footer {
    padding: 1rem;
  }

  .container {
    padding: 1rem;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 1.5rem; /* Smaller headers for mobile */
  }

  button {
    padding: 0.5rem 1rem; /* Smaller buttons for mobile */
  }
}










