/* WelcomeScreen.css */

/* Root Variables */
:root {
  --aura-color: #c800ff; /* Neon purple for the aura effect */
  --background-color: #1c1c2d; /* Dark background color */
  --text-color: #e1e1e2; /* Light grey for text */
  --accent-color: #ff007a; /* Neon pink for accents */
  --secondary-accent-color: #00d2ff; /* Neon blue for secondary accents */
  --button-glow: rgba(0, 174, 255, 0.7); /* Neon glow for buttons */
  --error-color: #E57373; /* Softer red for warnings or errors */
  --success-color: #81C784; /* Softer green for confirmations */
  --info-color: #64B5F6; /* Softer blue for information */
}

/* Welcome Screen Base Styles */
.welcome {
  position: relative;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at center, #1F1F1F 0%, #000000 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: background 0.3s ease-in-out;
}

.welcome::before {
  /* Background Overlay */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: 0;
}

/* Eclipse and Title Animations */


.eclipse {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.016);
  box-shadow: 0 0 20px var(--aura-color), 0 0 30px var(--aura-color);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: shimmer 5s infinite alternate;
}


@keyframes shimmer {
  0%, 100% {
    box-shadow:
      inset 0 2px 30px rgba(255, 255, 255, 0.4),
      0 5px 15px rgba(255, 192, 203, 0.2),
      0 10px 20px rgba(135, 206, 250, 0.2),
      0 15px 30px rgba(0, 251, 255, 0.2),
      0 20px 40px rgba(6, 229, 245, 0.2);
  }
  50% {
    box-shadow:
      inset 0 2px 35px rgba(255, 255, 255, 0.5),
      5px -5px 15px rgba(255, 192, 203, 0.6), /* Adjusted offset for top-right glow */
      5px -5px 20px rgba(135, 206, 250, 0.6), /* Adjusted offset for top-right glow */
      5px -10px 30px rgba(255, 165, 0, 0.6),  /* Adjusted offset for top-right glow */
      5px -15px 40px rgba(65, 5, 245, 0.6); /* Adjusted offset for top-right glow */
  }
}


.auraTitleContainer {
  position: absolute;
  top: 40%; /* Adjusted for better vertical alignment */
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
}

.auraTitle {
  font-size: 6rem; /* Large size for prominence */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Sleek, modern sans-serif font */
  color: #FFFFFF; /* White text for contrast */
  text-shadow: 
    0px 0px 10px rgba(255, 255, 255, 0.7), /* Glowing effect */
    2px 2px 5px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  position: relative; /* Use relative for z-index to take effect */
  z-index: 10; /* Higher than the aura background to 'pop out' */
  transform: translateZ(50px); /* Gives the impression that the text is raised */
  perspective: 500px; /* Perspective for 3D effect */
  margin-bottom: 2rem;
}

  

/* Tagline Styles */
.slogan-container {
  text-align: center;
  position: absolute;
  top: 52%; /* Centered vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 1rem 0; /* Adds padding above and below the slogan for spacing */
}

.slogan-top {
  color: #FFFFFF;
  font-size: 1rem; /* Slightly smaller for a more understated look */
  font-weight: 500; /* Semi-bold for a modern appearance */
  margin-top: 2.5rem; /* Top margin */
  margin-bottom: 0.5rem; /* Bottom margin */
  padding: 0.5rem 0;
  font-family: 'Roboto', 'Arial', sans-serif; /* Roboto or Arial for a sleek look */
}

.slogan-bottom {
  color: #FFFFFF;
  font-size: 0.9rem; /* Slightly smaller for subtlety */
  margin-top: 0.5rem; /* Top margin */
  margin-bottom: 1rem; /* Bottom margin */
  padding: 0.5rem 0;
  font-family: 'Roboto', 'Arial', sans-serif; /* Consistent font family */
  font-weight: 400; /* Normal font weight for simplicity */
}


.slogan-separator {
  border: none;
  height: 1px;
  background-color: #FFFFFF;
  margin: 1rem auto; /* Top and bottom margin of 1rem, auto on left and right to center */
  width: 20%; /* Shorter width for a subtle look */
  opacity: 0.7; /* Slightly transparent for a softer appearance */
}



/* Button Styles */
.startButton {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25); /* Sleek border with some transparency */
  color: #FFFFFF;
  border-radius: 25px; /* Adjust for desired roundness */
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4); /* Dark background with some transparency */
  box-shadow: 
    inset 0 -1px 2px rgba(255, 255, 255, 0.15), /* Lower inner shadow */
    inset 0 1px 2px rgba(0, 0, 0, 0.5), /* Upper inner shadow */
    0 2px 4px rgba(0, 0, 0, 0.5); /* Soft outer shadow */
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 65%; /* Adjust based on your layout */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  transition: all 0.2s ease;
}

.startButton:hover {
  background: rgba(0, 0, 0, 0.6); /* Darken on hover */
  border-color: rgba(255, 255, 255, 0.35); /* Brighter border on hover */
  color: rgb(6, 212, 212);
  box-shadow: 
    inset 0 -1px 2px rgba(255, 255, 255, 0.25), 
    inset 0 1px 2px rgba(0, 0, 0, 0.7), 
    0 4px 8px rgba(0, 0, 0, 0.6); /* Deeper shadow on hover */
}


/* Sparkle Styles */
.sparkle {
  position: absolute;
  border-radius: 50%;
  background: #fff;
  width: 2px;
  height: 2px;
  opacity: 0; /* Start fully transparent */
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5); /* Add a glow effect */
  animation: twinkle 10s infinite ease-in-out, float 20s infinite ease-in-out;
}

/* Promo Words Styles */
.promo-words {
  position: absolute;
  font-size: 0.85rem;
  color: rgba(165, 165, 165, 0.75);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 2; /* Change the z-index value */
}


.promo-top-left {
  top: 10px;
  left: 10px;
}

.promo-top-right {
  top: 10px;
  right: 10px;
}

.promo-bottom-left {
  bottom: 10px;
  left: 10px;
}

.promo-bottom-right {
  bottom: 10px;
  right: 10px;
}

/* Animation Keyframes */
@keyframes twinkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.1);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}



@keyframes breathe {
  0%, 100% {
    text-shadow: 
      0 0 10px rgba(255, 255, 255, 0.6),
      0 0 15px rgba(47, 79, 79, 0.5),
      0 0 20px var(--aura-color);
  }
  50% {
    text-shadow: 
      0 0 20px rgba(255, 255, 255, 0.8),
      0 0 30px rgba(47, 79, 79, 0.7),
      0 0 40px var(--aura-color);
  }
}

@keyframes auraGlow {
  0%, 100% {
    text-shadow: 
      0 0 5px rgba(255, 128, 128, 0.5),
      0 0 15px rgba(128, 255, 128, 0.5),
      0 0 20px rgba(128, 128, 255, 0.5);
  }
  25% {
    text-shadow: 
      0 0 5px rgba(128, 128, 255, 0.5),
      0 0 15px rgba(255, 128, 128, 0.5),
      0 0 20px rgba(128, 255, 128, 0.5);
  }
  50% {
    text-shadow: 
      0 0 5px rgba(128, 255, 128, 0.5),
      0 0 15px rgba(128, 128, 255, 0.5),
      0 0 20px rgba(255, 128, 128, 0.5);
  }
  75% {
    text-shadow: 
      0 0 5px rgba(255, 128, 128, 0.5),
      0 0 15px rgba(128, 255, 128, 0.5),
      0 0 20px rgba(128, 128, 255, 0.5);
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .auraTitle {
    font-size: 4rem; /* Adjust font size for smaller screens */
  }
  
  .tagline {
    font-size: 1rem; /* Smaller font size for tagline on smaller screens */
    max-width: 300px; /* Smaller width for the tagline */
    top: 60%; /* Adjust position to fit the layout */
  }

  .eclipse {
    width: 360px; /* Smaller eclipse for mobile devices */
    height: 360px;
  }

  .startButton {
    padding: 0.6rem 1.5rem; /* Smaller padding for the button */
    top: 60%; /* Adjust button position to prevent overlap */
  }
}

/* Aura Particles */
.dust-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.dust-particle {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  animation: drift 20s linear infinite;
  opacity: 0; /* Particles start fully transparent */
}

/* Randomize the initial position of the particles */
.dust-particle:nth-child(odd) {
  left: 25%;
  animation-duration: 22s;
}

.dust-particle:nth-child(even) {
  left: 70%;
  animation-duration: 18s;
}

/* Larger particles */
.dust-particle:nth-child(3n) {
  width: 3px;
  height: 3px;
  animation-duration: 25s;
}

/* Smaller and faster particles */
.dust-particle:nth-child(4n) {
  width: 1px;
  height: 1px;
  animation-duration: 15s;
}

/* Define the drift animation */
@keyframes drift {
  0% {
    transform: translateY(0) scale(0);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(100vh) scale(1.5);
    opacity: 0;
  }
}

/* Media Query for Mobile and Tablet Views */
@media (max-width: 768px) {
  .eclipse {
    width: 82vw; /* 80% of the viewport width */
    height: 82vw; /* 80% of the viewport width to maintain aspect ratio */
    max-width: 600px; /* Optional: if you want to limit the size */
    max-height: 600px; /* Optional: if you want to limit the size */
  }

  .promo-words {
    display: none; /* Hide promo text on smaller screens */
  }

  .auraTitleContainer {
    top: 42%; /* Adjusted for mobile screens to lower the title */
  }

  .auraTitle {
    font-size: 5rem; /* Reduced font size for mobile screens */
    white-space: nowrap; /* Prevent title text from wrapping onto a new line */
  }

  .slogan-container {
    top: 53%; /* Adjusted for mobile screens to lower the slogan */
  }

  .slogan-top,
  .slogan-bottom {
    font-size: 0.8rem; /* Reduced font size for mobile screens */
    white-space: nowrap; /* Prevent slogan text from wrapping onto a new line */
  }

  .startButton {
    padding: 0.5rem 1rem; /* Reduced padding for mobile and tablet screens */
    top: 65%; /* Adjusted button position for mobile and tablet screens */
  }
}

.emotion-circles {
  display: flex;
  justify-content: space-around; /* Space out circles evenly */
  align-items: center;
  width: 120px; /* Define a width that allows for better spacing */
  margin: 0 auto; /* Center the container */
}

.emotion-circle {
  width: 15px; /* Keep the circles small for sleekness */
  height: 15px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  position: relative;
}

/* Pastel gradient backgrounds */
.emotion-circle:nth-child(1) {
  background: linear-gradient(135deg, #B8AED9 30%, #DAC6E8 100%);
}

.emotion-circle:nth-child(2) {
  background: linear-gradient(135deg, #88D9E8 30%, #A4F3EB 100%);
}

.emotion-circle:nth-child(3) {
  background: linear-gradient(135deg, #FDB4C5 30%, #FEC8D8 100%);
}

/* Adjust the gap between circles by changing the margin if needed */
.emotion-circle:not(:last-child) {
  margin-right: 10px; /* Adds space to the right of each circle except the last */
}

/* If you want the circles to have the same spacing on both sides, remove the :not(:last-child) selector and set a margin on all sides */
.emotion-circle {
  margin: 0 5px; /* 5px on each side for consistent spacing */
}

/* Glow effect */
.emotion-circle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px; /* larger than the circle to create a glow around it */
  height: 30px;
  background: inherit; /* takes the gradient background */
  border-radius: 50%;
  filter: blur(8px); /* creates the glow effect */
  opacity: 0.5; /* adjust opacity for desired intensity */
  z-index: -1; /* ensures the glow is under the circle */
}

/* Hover effect to enlarge and intensify glow */
.emotion-circle:hover::after {
  width: 35px;
  height: 35px;
  opacity: 0.8; /* stronger glow on hover */
}

/* Optional: subtle pulsing animation for the glow */
@keyframes pulse-glow {
  0%, 100% {
    width: 30px;
    height: 30px;
    opacity: 0.6;
  }
  50% {
    width: 35px;
    height: 35px;
    opacity: 0.8;
  }
}

.emotion-circle:hover::after {
  animation: pulse-glow 2s infinite ease-in-out;
}





