/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f; /* Dark gray background color */
  color: #fff; /* Text color */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-svg {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 200px; /* Adjust the size of the circle as needed */
  height: 200px; /* Adjust the size of the circle as needed */
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5), transparent 70%); /* Create a radial gradient for the eclipse effect */
  transition: background-color 1s ease; /* Adjust the transition duration for smoother color change */
  cursor: pointer;
}

.circle-svg:hover {
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.5), transparent 70%, rgba(0, 255, 0, 0.5)); /* Change the gradient to emphasize greenish hue at the sides */
  animation: solarFlare 3s infinite alternate; /* Adjust the animation timing for a slower solar flare effect */
}

@keyframes solarFlare {
  0% { box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5); }
  100% { box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.5); }
}


