/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  color: #fff;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle {
  border-radius: 50%;
  width: 200px; /* Adjust the size of the circle as needed */
  height: 200px; /* Adjust the size of the circle as needed */
  background: radial-gradient(circle at center, transparent 70%, rgba(255, 255, 255, 0.3) 80%, rgba(0, 0, 255, 0.5) 90%, rgba(255, 0, 255, 0.5) 100%);
  transition: background-color 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5),
              0 0 20px rgba(255, 0, 255, 0.5),
              0 0 30px rgba(0, 255, 255, 0.5);
  animation: glow 2s infinite alternate;
}

.circle:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
              0 0 30px rgba(255, 255, 255, 0.6),
              0 0 40px rgba(255, 255, 255, 0.6);
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
                0 0 20px rgba(255, 255, 255, 0.5),
                0 0 30px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
                0 0 30px rgba(255, 255, 255, 0.6),
                0 0 40px rgba(255, 255, 255, 0.6);
  }
}




